.NavBar{
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 40px;
}

.NavBar > img{
    height: 40px;
}

.NavBar .SearchBox{
    display: flex;
    width: 60%;
    border-radius: 2px;
    border: 3px solid var(--green);
    justify-content: space-between;
}

.NavBar .SearchBox button{
    background-color: var(--green);
    width: 30%;
    border: none;
    color: white;
    /* border-radius: 0 5px 5px 0; */
}

.NavBar .SearchBox input{
    background-color: var(--green);
    flex-grow: 1;
    background-color: white;
    border: none;
    outline: none;
    padding: 10px;
    /* border-radius: 5px 0 0 5px; */
}

